button {
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%, -50%);
}

.notes {
    list-style-type: none;
}