:root{
    --loop-time:10000ms;
    --stop:0%;
}

.track{
    border: solid 4px rgb(65, 65, 65);
    height: 10vh;
    margin: 1%;
    padding:1%;
    border-radius: 10px;
    margin: 10px 40px;
    color:#18db13;
     box-shadow:
      0 0 5px 5px #fff,
      0 0 10px 10px #18db13,
      0 0 5px 5px #fff;
}

.bars{
    stroke:rgb(107, 107, 107);
    stroke-width:2;
}

.note{
    stroke:rgb(0, 0, 0);
    stroke-width:2;
    fill: none;
}

.cursor-line{
    stroke:rgb(255,0,0);
    stroke-width:4;
    transform: translateX(0%);
}

.cursor-line.on{
    animation-name: cursor;
    animation-duration:var(--loop-time);
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}

@keyframes cursor {
    from{
        transform: none;
    }
    to{
        transform: translateX(100%);
    }
}
