:root{
    --duration: 5000ms;
  }
  
  .circle{
    width: 200px;
    height: 200px;
      
  }
  #wheel{
    stroke: #18db13;
  }
  #circle-looped{
      transform-origin: 50% 50%;  
      fill:rgb(255, 0, 0);    
  }


  .poly3-1{
    --rotazione: calc((360deg) / 3);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));
    fill:white
    
   }
  .poly3-2{
    --rotazione: calc((360deg)*2 / 3);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));
    fill:white
   }
  .poly3-3{
    fill:rgb(0, 0, 0)
   }
  




   .poly4-1{
    --rotazione: calc((360deg) / 4);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));
    fill:white
    
   }
  .poly4-2{
    --rotazione: calc((360deg)*2 / 4);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));
    fill:white
   }
  .poly4-3{
    --rotazione: calc((360deg)*3 / 4);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));
    fill:white
   }
   .poly4-4{
    fill:rgb(0, 0, 0)
   }


  .poly5-1{
    --rotazione: calc((360deg) / 5);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));  
    fill:white  
   }
  .poly5-2{
    --rotazione: calc((360deg)*2 / 5);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));
    fill:white
   }
  .poly5-3{
    --rotazione: calc((360deg)*3 / 5);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));
    fill:white
   }
  .poly5-4{
    --rotazione: calc((360deg)*4 / 5);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));
    fill:white
   }
   .poly5-5{
    fill:rgb(0, 0, 0)
   }
  

   .poly7-1{
    --rotazione: calc((360deg) / 7);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));  
    fill:white  
   }
  .poly7-2{
    --rotazione: calc((360deg)*2 / 7);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));
    fill:white
   }
  .poly7-3{
    --rotazione: calc((360deg)*3 / 7);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));
    fill:white
   }
  .poly7-4{
    --rotazione: calc((360deg)*4 / 7);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));
    fill:white
   }
   .poly7-5{
    --rotazione: calc((360deg)*5 / 7);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));
    fill:white
   }
   .poly7-6{
    --rotazione: calc((360deg)*6 / 7);
    transform-origin: 50% 50%;
    transform:rotate(var(--rotazione));
    fill:white
   }
